 <nav>
<a href="/images/new">POST NEW PAGES</a>
<a href="/issue">ISSUES</a>
<a href="/about">ABOUT</a>
<a href="/">HOME</a>
</nav>

<h1>WHO WE ARE</h1>
<P>WE ARE A GROUP OF DESGINERS WHO MADE A TEAM TO PROVIDE OPPORTUNITIES FOR YOUND ARTISTS TO SHOW THEIR WORKS.</P>
<img src="https://media.gettyimages.com/illustrations/colourful-and-bright-people-crowd-background-pattern-illustration-id1096171442" alt="whoweare">
<H1>WHAT WE DO</H1>
<P>WE PUBLISH A DIGITAL ART MAGAZINE WHICH CREATES BY YOU. SO, YOU CAN EASILY COME YO OUR WEBSITE AND UPLOAD SOME PAGES OF THE NEXT ISSUE OF THE DIGITAL ART MAGAZINE. YOU WILL HAVE THE OPPORTUNITY TO SHOW YOUR WORK TO THE WORLD.</P>