<h1>Digital Art Magazine</h1>

<a href="/images/new">post new images</a>


<% images.each do |image| %>

  <p>
    <a href="/images/<%= image["id"] %>">
      <%= image["name"] %>
    </a>
  </p>
  <img src="<%= image["image_url"] %>">

<% end %>