 

<img src="firstpage.png" alt="first_page">
<h1>LOOK AT RECENT WORKS</h1>
<section class="home">

<nav>
<a href="/images/new">POST NEW PAGES</a>
<a href="/issue">ISSUES</a>
<a href="/about">ABOUT</a>
<a href="/">HOME</a>
</nav>


<div>
<% images.each do |image| %>
<img src="<%= image["image_url"] %>">
  <p>
    <a href="/images/<%= image["id"] %>">
      <%= image["name"] %>
    </a>
  </p>
  

<% end %>
</div>
</section>