<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <%  if logged_in? %>
  logged in as <%= current_user()['email'] %>

  <form action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>logout</button>
  </form>

    <% end %>



  <header>
  <p>DIGITAL ART MAGAZINE</p>
  <p>logo</p>
  </header>

  <%= yield %>

  <footer>
  <p>OCTOBER 2020</p>
  <p>JOIN US AND BE PART OF OUR MAGAZINE</p>
  </footer>
 

</body>
</html>
