<h1>WHAT YOU UPLOADED</h1>

<form action="/images" method="post">
  <label for="">name</label>
  <input type="text" name="name">
  <label for="">image url</label>
  <input type="text" name="image_url">
  <label for="">description</label>
  <input type="text" name="description">
  <button>CREATE</button>
</form>