 <nav>
<a href="/images/new">POST NEW PAGES</a>
<a href="/issue">ISSUES</a>
<a href="/about">ABOUT</a>
<a href="/">HOME</a>
</nav>

<section class="new">
<h1>UPLOAD NEW PAGES OF MAGAZINE</h1>

<form action="/images" method="post">
  <label for="">name</label>
  <input type="text" name="name">
  <label for="">image url</label>
  <input type="text" name="image_url">
  <label for="">description</label>
  <input type="text" name="description">
  <button>CREATE</button>
</form>
</section>